.satu{
    color:blue
}
.dua{
    font-family: sans-serif;
    font-size:20px;
}
.tiga{
    font-weight:bold;
    font-size:20px;
}
.empat{
    font-family:sans-serif;
}
.lima{
    font-family: italic;
}
.enam{
    font-family: sans-serif;
    font-size: 20px;
}